<div class="container">
    <% @products.each do |product| %>
        <%= product.name %>
        <br>
        <%= product.description %>
        <br>
        <%= product.size %>
        <br>
        <%= product.price %>
        <br>
        <br>
    <% end %>
    <%= link_to "Create Product", new_product_path, class: "btn btn-primary" %>
</div>