<div class="container">
    <div class="show-information">
    
        <% if @product.photo.attached? %>
            <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
            <p>Sem Foto</p>
        <% end %>

        <div class="information">
            <p><%= @product.name %></p>
            <p><%= @product.description %></p>
            <p><%= @product.price %></p>

            <%= simple_form_for [@product, @request] do |f| %>
                <% if policy(Request).create? %>
                    <%= f.input :size, collection: ['PP', 'P', 'M', 'G', 'GG'],placeholder: "Enter with a size" %>
                    <div class="btn btn-primary">
                        <%= f.button :submit , value: 'Buy Product', class: "btn btn-blue"%>
                    </div>
                <% end %>
            <% end %>
            <br>

            <%= link_to "Edit Product", edit_product_path, class: "btn btn-primary" %>
                <%= link_to product_path(@product), class: "btn btn-red", method: :delete, data: { confirm: 'Are you sure?' } do %>
                    Remove <i class="fas fa-trash"></i>
            <% end %>
            <br>
            <br>
        </div>
    </div>

    <% @product.reviews.each do |review| %>
        <%= review.user.email %>
        <%= review.rate %>
        <br>
    <% end %>

    <% if policy(Review).create? %>
        <%= simple_form_for([ @product, @review ]) do |f| %>
        <br>
            <%= f.input :rate, as: :text %>
            <%= f.button :submit %>
        <% end %>
    <% end %>
</div>