<div class="container">
    <%= @product.name %>
    <br>
    <%= @product.description %>
    <br>
    <%= @product.size %>
    <br>
    <%= @product.price %>
    <br>
    <%= link_to "Edit Product", edit_product_path, class: "btn btn-primary" %>
    <%= link_to product_path(@product), class: "btn btn-red", method: :delete, data: { confirm: 'Are you sure?' } do %>
          Remove <i class="fas fa-trash"></i>
    <% end %>

    <% @product.reviews.each do |review| %>
        <%= @product.user.email %>
        <%= review.rate %>
        <br>
    <% end %>

    <%= simple_form_for([ @product, @review ], remote: true) do |f| %>
        <%= f.input :rate, as: :text %>
        <%= f.button :submit %>
    <% end %>
</div>